* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  top: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #f1c40f;
  display: flex;
  //flex-direction: row;
  justify-content: space-around;

  img {
    margin-top: 2px;
    width: 25%;
    height: 90%;
    align-self: center;
  }

  nav {
    display: flex;

    ul {
      width: 35vw;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
    }

    li {
      font-weight: bold;
      font-size: 1.2em;
      display: inline-block;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}

#empty-space {
  width: 100%;
  height: 50px;
}

.container {
  display: grid;
  grid-template-rows: repeat(4, 100vh);
  height: 100vh;
}

#splash-screen {
  position: relative;
  overflow: hidden;
  z-index: -1;
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    overflow: hidden;
  }
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;

  #about-container {
    padding: 100px;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 500px 500px;
    grid-template-rows: 100%;
    grid-template-areas:
      "content img";
  
    #about-content {
      display: grid;
      grid-template-rows: 40px auto;
      grid-template-areas: 
        "title"
        "paragraph";
  
      h1 {
        grid-area: title;
      }
  
      p {
        grid-area: paragraph;
        font-family: 'Montserrat', sans-serif;
      }
    }
  
    img {
      grid-area: img;
      width: 500px;
      height: 100%;
    }
  }
}

#tabletop {
  display: flex;
  justify-content: center;
  align-items: center;

  #tabletop-container {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 500px auto;
    grid-template-rows: 100%;
    grid-template-areas:
      "content img";
  
    #tabletop-content {
      display: grid;
      grid-template-rows: 40px auto;
      grid-template-areas: 
        "title"
        "paragraph";
  
      h1 {
        grid-area: title;
      }
  
      p {
        grid-area: paragraph;
        font-family: 'Montserrat', sans-serif;
      }
    }
  
    img {
      grid-area: img;
      width: 500px;
      height: 100%;
    }
  }
}

#digital {
  display: flex;
  justify-content: center;
  align-items: center;

  #digital-container {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 500px auto;
    grid-template-rows: 100%;
    grid-template-areas:
      "content img";
  
    #digital-content {
      display: grid;
      grid-template-rows: 40px auto;
      grid-template-areas: 
        "title"
        "paragraph";
  
      h1 {
        grid-area: title;
      }
  
      p {
        grid-area: paragraph;
        font-family: 'Montserrat', sans-serif;
      }
    }
  
    img {
      grid-area: img;
      width: 500px;
      height: 100%;
    }
  }
}